# Temporal files
###########################
*~

# Outputs
##########################
*.trc
*traces*
*.pck
*.pk
*.log
*nohup.out

# Others
##########################
*sandboxes/
*.data
*.RData
*.Rhistory
*.lprof


